/*GENERALES*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}
html{
    background-color: #0D0D0D;
}
main{
        background-color: rgb(0, 0, 0) ;
        font-weight: 800;
}
.contact-body{
    color: white;
}


a {
    color: white;
    text-decoration: none;
  }

  /*CATALOGO Y ARTICULOS*/
  #catalogo{
    display: flex;
    flex-wrap: wrap;
    background-color: #0D0D0D;
    padding-left: 20px;
    padding-right: 0px;
    margin: 30px 50px;
    width: auto;
    justify-content: center;
    justify-self: center;
}
article{
    background-color: #f2aa6bbe;
    padding: 10px 5px;
    width: 250px;
    margin-bottom: 30px;
    margin: 30px 50px;
    box-sizing: border-box;
    transition: 200ms;
    border-radius: 20px;
}

article:hover{
    transform:scale(1.03);
    transition: 200ms;
    cursor: pointer;
    /* offset-x | offset-y | blur-radius | color */
    /*box-shadow: 10px 5px 5px blue;*/
}

article h3{
    text-align: center;
    padding-bottom: 10px;
}


/*CABECERA Y NAVEGACION*/
header{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 2px black;
    background-image: url(/imagenes/Agregar\ un\ título.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
}

.textoheader{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-weight:bolder;
    font-size: x-large
}

.navegacion{
    background-color: #40121A;
    border-bottom: solid 2px black;
}

.navegacion ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navegacion ul li:hover{
    background-color: rgba(229, 229, 229, 0.266);
    cursor: pointer;
}
ul li{
    color: white;
    padding: 10px 30px;
    
}

/*Contenido de productos*/
.descripcion{
    text-align: center;
}

img {
    width: 200px;
    align-items: center;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border-bottom: 4px solid #00000069 ;
}


/*PRECIOS*/
.precioAnterior{
    text-decoration: line-through;
    opacity: 0.5;
}
.precioDespues{
    font-size:x-large;
    text-decoration:;
}

/*BOTON*/
.btn-comprar{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top-right-radius: 20px;
    border-end-start-radius: 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-comprar:hover{
    background-color: rgba(153, 205, 50, 0.614);
    transform: scale(1.1);
    box-shadow: 2px 2px black;
}
